/* ----------------------------------Página inteira---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* ----------------------------------Cabeçalho---------------------------------- */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
    margin: auto;
}

.busca {
    text-align: center;
    display: inline-flex;
}

.busca input {
    padding-left: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
    height: 30px;
    background-color: #d7f1d7;
    min-width: 200px;
}

.busca input, .fale-conosco input, textarea:focus {
    outline: none;
}

.busca input,::placeholder {
    color: rgb(84, 143, 25);
}

.busca button {
    margin-left: -1;
    padding-right: 7px;
    border-radius: 0 5px 5px 0;
    border: none;
    height: 30px;
    background-color: #d7f1d7;
}


nav {
    display: flex;
    justify-content: right;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    padding: 5px 15px;
    margin: 0 10px;
    font-weight: 500;
    border-radius: 5px;
}
nav ul li:hover {
    font-weight: 520;
    background-color: #00000013;
} 

.container {
    background-color: rgb(116, 197, 34);
    max-width: 1400px;
    margin: auto;
    padding: 0 25px 0 25px;
    box-shadow: 0 1px 10px black;
}

/* ----------------------------------Corpo---------------------------------- */
body {
    background-color: #EBF6BE;
}
.banner_blackfriday {
    background-color: black;
    padding: 30px 30px 10px 30px;
    margin-top: 10px;
}

.banner_blackfriday h1{
    color: #f0f0f0;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

.banner_blackfriday p{
    color: #b4b4b4;
    font-size: 10px;
    font-weight: 300;
    text-align: right;
}
.destaques h2{
    margin: 25px 15px 15px 15px;
    text-align: center;
    text-decoration: underline;
}
.cont-categorias {
    margin: 25px auto;
}
.cont-categorias ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-between;
}
.cont-categorias ul li {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #19d8193a;
    margin: 5px 15px;
    align-items: center;
}
.cont-categorias ul li:hover {
    font-weight: 520;
    background-color: #56aa4e80;
}

.cat-selecionada {
    border: 2px solid #1f8a1c;
    background-color: #3bda3bd8 !important;
}

.produtos {
    display: flex;    
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}
.produto {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
}

.caixa-imagem {
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-imagem img {
    width: 150px;
}

.caixa-imagem img:hover {
    transform: scale(1.1);
}

.produto h4 {
    font-size: 15px;
}

.antigo-preco {
    color:#b4b4b4;
    text-decoration: line-through;
    font-size: 13px;
}

.novo-preco {
    font-size: 15px;
    margin-bottom: 10px;
}

.botao-adicionar {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.botao-adicionar button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #8be28b;
}
.botao-adicionar button:hover {
    background-color: #41a741;
    transform: scale(1.05);
    cursor: pointer;
}

.cont-inst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.institucional, .carrinho {
    background-color: #41a741;
    margin: 30px;
    padding: 20px;
    max-width: 550px;
    border-radius: 10px;
}

.fale-conosco {
    background-color: #41a741;
    margin: 30px 0;
    padding: 20px;
    max-width: 550px;
    border-radius: 10px;
}

.fale-conosco input, .selecionar-qtde input, textarea{
    background-color: #D7F1D7;
    padding: 8px;
    margin-bottom: 10px;
    min-width: 100%;
    border-radius: 5px;
    border: none;
    height: 30px;
}

textarea {
    min-width: 100;
}

.institucional p {
    text-align: justify; 
}

.institucional h3 {
    padding-top: 20px;
}

.institucional ul li {
    list-style-position: inside;
}

.fale-conosco label { 
    display: block;
}

.fale-conosco button, .finalizar, .selecionar-qtde button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #8be28b; 
}

.fale-conosco button:hover, .finalizar:hover {
    background-color: #296b29;
    transform: scale(1.05);
}

.sad {
    display: flex;
    justify-content: center;
}
.sad img {
    width: auto;    
}


.carrinho h1 {
    text-align: center;
}

.carrinho p {
    text-align: center;
}
.carrinho p a {
    text-decoration: underline;
}
.cont-compra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-compra, .cont-infos {
    margin: 20px;
}

.cont-imagens {
    padding: 25px;
    max-width: 500px;
}

.cont-imagens img {
    box-shadow: 5px 5px 10px #000;
    border-radius: 5px;
    background-color: #fff;
}

.mais-imagens {
    display: flex;
    justify-content: center;
}

.mais-imagens img {
    width: 100px;
    margin: 15px;
}

.cont-pagamento {
    border-radius: 5px;
    border: 1px solid green;
    background-color: #41A741;
    padding: 25px;
    box-shadow: 2px 2px 4px #000;
}

.cont-pagamento h3 {
    padding-top: 10px;
}
.selecionar-qtde input {
    background-color: #D7F1D7;
    padding: 8px;
    margin-bottom: 10px;
    min-width: 80%;
    border-radius: 5px;
    border: none;
    height: 30px;
}

.finalizar {
    display: block;
    margin-top: 10px;
}
.cont-infos {
    background-color: #41A741;
    max-width: 800px;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 25px;
    box-shadow: 2px 2px 4px #000;
}

/* ----------------------------------Rodapé---------------------------------- */
footer {
    width: 100%;
}
footer p {
    font-size: 13px;
    text-align: center;
    margin: 5px;
}
/* ----------------------------------Media Queries---------------------------------- */
@media only screen and (max-width: 480px) {
    .logo img {
        width: 300px;
        margin: auto;
        margin-bottom: 10px;
    }

    .busca input{
        margin-bottom: 10px;;
    }
    
    .caixa-imagem img {
        width: 250px;
    }

    .cont-categorias ul {
        display: block;
        max-width: 155px;
    }

    .cont-categorias ul li {
        text-align: center;
    }

    .cont-infos {
        margin: 20px;
    }
}